In [73]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
import tensorflow as tf

In [74]:
first = pd.read_csv('housing.csv')

In [75]:
first.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [76]:
first.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [77]:
data1 = first[['housing_median_age','total_rooms','total_bedrooms','population','households','median_income','median_house_value']]

In [78]:
# all the features are continuous
data1.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [79]:
from sklearn.model_selection import train_test_split 
#split the data into training and testing

In [80]:
x_data1 = data.drop('median_house_value',axis=1)
x_data1.head()
y_data1 = data['median_house_value']
y_data1.head()

0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: median_house_value, dtype: float64

In [81]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(x_data1,y_data1,test_size=0.3,random_state=101)

In [82]:
X_train1.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
6761,19.0,2742.0,756.0,1396.0,703.0,2.5663
3010,32.0,444.0,102.0,242.0,87.0,1.1528
7812,35.0,994.0,203.0,602.0,185.0,3.5865
8480,35.0,1281.0,219.0,710.0,184.0,4.8304
1051,16.0,1257.0,231.0,559.0,213.0,4.4531

In [83]:
y_train1.head()

6761    197500.0
3010    150000.0
7812    178000.0
8480    152800.0
1051    144300.0
Name: median_house_value, dtype: float64

In [84]:
X_test1.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
16086,36.0,1821.0,292.0,742.0,298.0,5.6204
8816,37.0,1080.0,135.0,366.0,142.0,11.6677
7175,47.0,1273.0,264.0,1193.0,260.0,2.4375
16714,17.0,1701.0,298.0,941.0,293.0,4.3218
14491,22.0,3479.0,448.0,1252.0,440.0,10.0707

In [85]:
from sklearn.preprocessing import MinMaxScaler

In [86]:
scaler = MinMaxScaler()

In [87]:
scaler.fit(X_train1)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [88]:
scaler.transform(X_train1)

array([[0.35294118, 0.06968818, 0.11716325, 0.04876939, 0.11544154,
        0.14250838],
       [0.60784314, 0.01124167, 0.01567349, 0.00836747, 0.01414241,
        0.04502697],
       [0.66666667, 0.02523017, 0.03134699, 0.02097119, 0.03025818,
        0.21286603],
       ...,
       [0.09803922, 0.08962816, 0.08659218, 0.0481392 , 0.08057885,
        0.38940153],
       [0.68627451, 0.02110992, 0.03258845, 0.0189756 , 0.03453379,
        0.19181804],
       [0.43137255, 0.08538074, 0.11235258, 0.0650842 , 0.10689031,
        0.14979104]])

In [89]:
# with this scaled X_test create a dataframe

In [90]:
scaler.transform(X_test1)

array([[0.68627451, 0.0462638 , 0.04515829, 0.02587263, 0.04884065,
        0.35313306],
       [0.70588235, 0.02741747, 0.02079454, 0.01270875, 0.02318698,
        0.77018248],
       [0.90196078, 0.03232616, 0.04081316, 0.04166229, 0.04259168,
        0.13362574],
       ...,
       [0.1372549 , 0.02617122, 0.03103662, 0.02111123, 0.0292715 ,
        0.15996331],
       [0.76470588, 0.01144514, 0.01675978, 0.01431922, 0.01578688,
        0.05805437],
       [0.58823529, 0.14708276, 0.21384233, 0.10398067, 0.21558954,
        0.19096288]])

In [91]:
X_train1 = pd.DataFrame(scaler.transform(X_train1),columns=['housing_median_age','total_rooms','total_bedrooms','population',
                                                       'households','median_income'],index=X_train1.index)

In [92]:
X_train1.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
6761,0.352941,0.069688,0.117163,0.048769,0.115442,0.142508
3010,0.607843,0.011242,0.015673,0.008367,0.014142,0.045027
7812,0.666667,0.025230,0.031347,0.020971,0.030258,0.212866
8480,0.666667,0.032530,0.033830,0.024752,0.030094,0.298651
1051,0.294118,0.031919,0.035692,0.019466,0.034863,0.272631

In [93]:
X_test1 = pd.DataFrame(scaler.transform(X_test1),columns=['housing_median_age','total_rooms','total_bedrooms','population',
                                                       'households','median_income'],index=X_test.index)

In [94]:
X_test1.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
16086,0.686275,0.046264,0.045158,0.025873,0.048841,0.353133
8816,0.705882,0.027417,0.020795,0.012709,0.023187,0.770182
7175,0.901961,0.032326,0.040813,0.041662,0.042592,0.133626
16714,0.313725,0.043212,0.046089,0.032840,0.048018,0.263576
14491,0.411765,0.088433,0.069367,0.043728,0.072192,0.660046

### Create Feature Columns

In [95]:
house_age = tf.feature_column.numeric_column('housing_median_age')
rooms = tf.feature_column.numeric_column('total_rooms')
beds = tf.feature_column.numeric_column('total_bedrooms')
pop = tf.feature_column.numeric_column('population')
hold = tf.feature_column.numeric_column('households')
income = tf.feature_column.numeric_column('median_income')

In [96]:
feat_cols1 = [house_age,rooms,beds,pop,hold,income]

In [97]:
input_func1 = tf.estimator.inputs.pandas_input_fn(x=X_train1,y=y_train1,batch_size=5,num_epochs=1000,shuffle=True)

In [98]:
dnn_model1 = tf.estimator.LinearRegressor(feat_cols1)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\jaish\AppData\Local\Temp\tmpla5wzxmj
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\jaish\\AppData\\Local\\Temp\\tmpla5wzxmj', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x0000024AEC2BD1D0>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [99]:
dnn_model1.train(input_fn = input_func1,steps=1000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\jaish\AppData\Local\Temp\tmpla5wzxmj\model.ckpt.
INFO:tensorflow:loss = 465586420000.0, step = 1
ERROR:tensorflow:Model diverged with loss = NaN.

NanLossDuringTrainingError: NaN loss during training.